
<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ol>
    <% end %>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.email_field :name, :placeholder => "enter your name"%>
<%= f.label :email %>
<%= f.email_field :email, :placeholder => "email address"%>
<%= f.label :password %>
<%= f.password_field :password, :placeholder => "Strong Password"%>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, :placeholder=>"Confirm Password" %>
<%= f.submit "Sign Up" %>

<% end %>
